body{
    font-family: 'Roboto Mono', monospace;
    background-color: black;
    color: white;

}
.grid{
    width: 305px;
    height: 305px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.square{
    width: 100px;
    height: 100px;
    border: 1px solid white;
}
.mole{
    background-color: white;
}
